.DS_Store
Dada2_Pipeline/fastq_filtered/
Dada2_Pipeline/qual_pdf/
Dada2_Pipeline/blast/
Dada2_Pipeline/databases/
Dada2_Pipeline/fastq_filtered/qual_pdf/
Dada2_Pipeline/*pptx
Dada2_Pipeline/.DS_Store
*.fastq
*.Rproj
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store?
seqtab.nochim_trans.rds
updated.taxa.rds
taxa.txt
OTU_no_taxonomy.fasta
Dada2_Pipeline/dada2_results/OTU_table_lowsupport.tsv
Dada2_Pipeline/dada2_results/OTU_table_noMetazoa.tsv
Dada2_Pipeline/dada2_results/OTU_table.tsv
*pptx